{% macro list(products) %}

{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% for product in products %}
{% include 'SyliusWebBundle:Frontend/Product:_single.html.twig' %}
{% if not loop.last %}<hr>{% endif %}
{% else %}
{{ alerts.info('sylius.product.no_results'|trans) }}
{% endfor %}

{% endmacro %}

{% macro grid(products, size = 3) %}

{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

<ul class="productsgrd">
    {% for product in products %}
        <li>
            {% include 'SyliusWebBundle:Frontend/Product:_singleBox.html.twig' %}
        </li>
    {% else %}
        {{ alerts.info('sylius.product.no_results'|trans) }}
    {% endfor %}
</ul>

{% endmacro %}
