/*
* viiby.fr Sylius theme testing
*/

body {
    font-family: 'Montserrat', cursive;
}

h1 a {
    color: #8C3503;
    font-size: 3em;
    letter-spacing: -0.07em;
    line-height: 1em;
    margin-top: 1.5em;
    text-decoration: none;
}
.mainline {
    background-color: #F9EFE8;
    background-image:         repeating-linear-gradient(-45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
    background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px)
}


/* 
Buttons
*/
a.btn {
    text-decoration: none;
}
.btn {
    border-radius: 6px 6px 6px 6px;
    font-size: 17.5px;
    padding: 11px 19px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    background-color: #E6E6E6;
    color: #333333;
}

.btn-primary {
    background-color: #006DCC;
    background-image: linear-gradient(to bottom, #0088CC, #0044CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #0044CC;
    color: #FFFFFF;
}

.btn-primary {
    background-color: #006DCC;
    background-image: linear-gradient(to bottom, #0088CC, #0044CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #0044CC;
    color: #FFFFFF;
}

/* 
Menu
*/

.nav>li {
    list-style: none;
    display: inline-block;
}
.menuline {
    background-color: #8C3503;
    color: #fff;
    clear: both;
}
.menuline .icon-nav:before{
    color: #fff;    
}
.menuline .nav {
    padding-left: 0;
}
.menuline .nav>ul {
    position: relative;
}
.menuline .nav li a, .menuline span {
    display: inline-block;
    padding: 1em 2em;
}
.menuline ul ul{
    left: 0;
    position: absolute;
    width: 100%; 
    background: #8C3503;
    display: table-row;
/*
    display: none;
    position: absolute;
    background: #fff;
    background: rgba(255, 242, 234, .9);
    border: solid .3em;
    border-color: rgb(140, 53, 3);
    border-color: rgba(140, 53, 3, .9);
    border-color: rgba()#8C3503;
    border-top-width: 0;
    border-radius: 0 0 .6em .6em;
    */
}
.menuline ul ul li{
    display: table-cell;
}
.menuline li:hover>ul{
    display: block;
}
.menuline li:hover>span{
    color: #fff;
}
.menuline span.nav-header{
    padding-left: 0;
}
.menuline>div>span{
    display: none;
    padding: 2em 0;
}

@media (max-width: 640px) {
    .menuline>div>span{
        display: block;
    }
    .menuline>div>ul{
        display: none;
    }
    .menuline .nav>li {
        display: block;
    }
}


/*
    Products grid
*/
.productsgrd {
    padding: 0;
}
.productsgrd>* {
    display: block;
    clear: none;
    float: left;
}
.pgrd-content {
    border: 4px solid #BF6B04;
    position: relative;
    box-shadow: 1px 1px 8px #888;
}
.pgrd-item{
    position: relative;
}
.pgrd-icon{
    font-size: 2.2em;
}
.pgrd-icon:hover{
    background: #BF6B04;
    color: #fff;
    cursor: pointer;
}
.turn{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0   .3em;
    font-family: sans-serif;
    background: rgba(255, 242, 234, .5);
    z-index: 3;
} 
.img2 {
    display: none;
}
.pgrd-description {
    bottom: 0;
    position: absolute;
    background: rgba(255, 242, 234, .7);
    display: none;
    padding: 0 .4em;
}
.productsgrd>*:hover .pgrd-description {
    display: block;
}
.turn+input:checked+div img{
    display: none;
}
.turn+input{
    display: none;
}
.turn+input:checked+div img.img2{
    display: block;
}
.pgrd-options {
    display: table;
    border-top: 4px solid #BF6B04;
    padding: 0;
    margin: 0;
}
.pgrd-options>*{
    border: 0;
    border-left: 4px solid #BF6B04;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #BF6B04;
    padding: 0;
}
.pgrd-options>*:hover>*{
    background: #BF6B04;
    color: #fff;
    cursor: pointer;
}
.pgrd-options>*:first-child{
    border-left: none;
}
.pgrd-options .pgrd-selectlist label>div{
    font-size: 1.1em; 
    padding: .2em 0;
}
.pgrd-options .pgrd-selectlist label:hover>div{
    background-color: #BF6B04;
    color: #fff;
}
.pgrd-options .pgrd-selectlist label{
    position: relative;
}
.pgrd-options .pgrd-selectlist input{
    position: absolute;
    left: .4em;
    top: .4em;
}
.pgrd-options button{
    min-height: 1px;
    width: 100%;
}
.pgrd-options>*{
    background: #fff;
 }
.pgrd-options .pgrd-selectlist input:checked+*, .pgrd-options .pgrd-selectlist label:hover>input:checked+*{
    background-color: #E4A531;
    color: #000;
}
.pgrd-options .pgrd-selectlist label{
    border-top: 4px solid #BF6B04;
    display: block;
    width: 100%;
}
.pgrd-options .pgrd-selectlist{
    color: #000;
    position: absolute;
    background: #fff;
    border: 4px solid #BF6B04;
    border-width: 0 0 4px 4px;
    bottom: 2.5em;
    left: -4px;
    display: none; 
    right: 0;
}
.pgrd-options .pgrd-select:hover .pgrd-selectlist{
    display: block;
}
.pgrd-price a:before {
    background: none repeat scroll 0 0 #FDF7F4;
    border-radius: 4px 4px 4px 4px;
    box-shadow: -1px -1px 1px #888;
    content: "";
    display: inline-block;
    height: 8px;
    left: 0.3em;
    position: absolute;
    top: 0.3em;
    width: 8px;
}
.pgrd-price a {
    box-shadow: 1px 1px 1px #888;
    background: none repeat scroll 0 0 #E4A531;
    border-radius: 0.4em 0.2em 0.2em 1.2em;
    color: #FFFFFF;
    float: right;
    font-size: 1.7em;
    letter-spacing: 0.03em;
    margin: 0.4em 0;
    padding: 0 0.3em 0 0.9em;
    position: relative;
    text-decoration: none;
    transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
}
.addtocart span{
    position: relative;
}
.addtocart span{
    position: absolute;
}

@media (min-width: 1280px) {
    .productsgrd>* {
        width: 17%;
        margin: 1.5% 3.5% 1.5% 0;
    }
    .productsgrd>*:nth-child(5n+5) {
        margin-right: 0;
    }
    .productsgrd>*:nth-child(5n+6) {
        clear: both;
    }
}

@media (max-width: 1280px) and (min-width: 921px) {
    .productsgrd>* {
        width: 23%;
        margin: 1% 2% 1% 0;
    }
    .productsgrd>*:nth-child(4n+4) {
        margin-right: 0;
    }
    .productsgrd>*:nth-child(4n+5) {
        clear: both;
    }
}

@media screen and (max-width: 920px) and (min-width: 611px) {
    .productsgrd>* {
        width: 31%;
        margin: 1%  2% 2.5% 0;
    }
    .productsgrd>*:nth-child(3n+3) {
        margin-right: 0;
    }
    .productsgrd>*:nth-child(3n+4) {
        clear: both;
    }
}

@media screen and (max-width: 610px) and (min-width: 481px) {
    .productsgrd>* {
        width: 48%;
        margin: 1% 2% 4% 0;
    }
    .productsgrd>*:nth-child(2n+2) {
        margin-right: 0;
    }
    .productsgrd>*:nth-child(2n+3) {
        clear: both;
    }
}

@media screen and (max-width: 480px) {
    .productsgrd>* {
        width: 100%;
        margin: 1%  2% 8% 0;
    }
}
/* 
Layup
*/

.container {
    max-width: 1600px;
    padding:0 1em;
}

#sidebar_left ul li img.menu-thumbnail {
    float: none;
    margin-right: 0;
}
